$white: #ffffff;

$light-grey: #bbb;

$mq-xsmall: 22em;

//foundation small
$mq-small: 39em;

//foundation medium
$mq-med: 64em;

//foundation large
$mq-large: 90em;

//max foundation width
$mq-xlarge: 104em;