html {
    background-color: black;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
}

.hide {
    display: none;
}

.content-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    margin: 0;
    z-index: 0;
}

.inline-block {
    display: inline-block;
}

#__bs_notify__ {
    top: 95% !important;
    right: 10px !important;
    border-radius: 15px !important;
    height: 60px !important;
}




.shape{
   transition: all .2s linear;
   -webkit-transition:  all .2s linear;
   -moz-transition:  all .2s  linear;
}

.shape.more-opacity{
  opacity: .5;
 transition: all .2s linear;
 -webkit-transition:  all .2s linear;
 -moz-transition:  all .2s  linear;
}
