.menu_container {
    background-color: #000;
}

.lg-icon {
    color: #fff;
    position: fixed;
    top: 20px;
    left: 30px;
    width: 50px;
    z-index: 999;

    a {
        color: #fff;

        &:hover {
            color: #EAE5E1;
        }
    }
}

//HAMBURGER
#nav-toggle {
    position: fixed;
    right: 28px;
    top: 30px;
    z-index: 9999;
    cursor: pointer;
    padding: 10px 35px 16px 0px;

    span:before {
        top: -10px;
    }

    span:after {
        bottom: -10px;
    }

    &.active span {
        background-color: transparent;
    }

    span,
    span:before,
    span:after {
        cursor: pointer;
        border-radius: 1px;
        height: 4px;
        width: 35px;
        background: white;
        position: absolute;
        display: block;
        content: '';
        transition: all 500ms ease-in-out;
    }

    span {
        position: fixed;
    }

    &.active span:before, &.active span:after {
        top: 0;
    }

    &.active span:before {
        transform: rotate(45deg);
    }

    &.active span:after {
        transform: rotate(-45deg);
    }
}

.top-center__line,
.right__line--top,
.right__line--bottom,
.bottom-center__line--left,
.bottom-center__line--right,
.left__line {
    transition: all 400ms ease-in-out;
    position: fixed;
    z-index: 99999;
    background-color: #333;
}

.top-center__line {
    left: 0;
    right: 50px;
    margin: 0 auto;
    top: 45px;
    width: 85%;
    height: 2px;

    @media (max-width: $mq-large) {
        width: 75%;
    }

    @media (max-width: $mq-med) {
        width: 65%;
    }

    @media (max-width: $mq-small) {
        width: 48%;
        right: 0;
    }
}

.right__line--top {
    top: 85px;
    right: 45px;
    height: 68vh;
    width: 2px;

    &.collapse {
        height: 150px;
    }
}

.right__line--bottom {
    bottom: 45px;
    right: 45px;
    height: 30vh;
    width: 2px;
}

.bottom-center__line--left {
    bottom: 45px;
    left: 45px;
    width: 50vw;
    height: 2px;

    &.collapse {
        width: 95px;
    }
}

.bottom-center__line--right {
    bottom: 45px;
    right: 45px;
    width: 50vw;
    height: 2px;
}

.left__line {
    bottom: 45px;
    left: 45px;
    height: 80vh;
    width: 2px;
}

.menu-link {
    position: fixed;
    right: 83px;
    top: 30px;
    color: #fff;
    display: none;
    font-size: 14px;
    text-transform: uppercase;

    @media (max-width: $mq-small) {
        display: none !important;
    }
}

//icon links
.icons {
    position: fixed;
    right: 27px;
    top: 255px;
    z-index: 99;
    width: 35px;

    @media (max-width: $mq-small) {
        right: 8px;
        top: 50%;
        transform: translateY(-50%);
    }

    .icon-link {
        visibility: hidden;
        opacity: 0;
        transition: all 200ms ease-in-out;

        img {
            margin-bottom: 30px;
        }
    }

    .show {
        visibility: visible;
        opacity: 1;
        animation-delay: .3s;
        transition-delay: .4s;
    }

    a {
        z-index: 999 !important;
    }
}

//bottom menu on homepage
.menu {
    position: fixed;
    bottom: 15px;
    left: 150px;

    @media (max-width: $mq-small) {
        left: 0;
        right: 0;
        bottom: 0px;
        text-align: center;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .link-list {
        display: inline-block;
        overflow: hidden;
    }

    .nav-link {
        visibility: hidden;
        opacity: 0;
        transition: all 200ms ease-in-out;
        float: left;
        margin-right: 15px;
        font-size: 14px;
        text-transform: uppercase;

        @media (max-width: $mq-small) {
            margin: 0 auto;
        }
    }

    .show {
        visibility: visible;
        opacity: 1;
        animation-delay: .3s;
        transition-delay: .4s;
    }

    .nav-link a {
        color: #fff;
        display: block;
        text-align: center;
        padding: 16px;
        text-decoration: none;
        transition: all 300ms ease-in-out;
    }

    .nav-link a:hover {
        color: #EAE5E1;
    }
}