@font-face {
    font-family: 'Tofino_Black';
    src: url(../fonts/Tofino_Black.otf);
}

@font-face {
    font-family: 'Tofino_Bold';
    src: url(../fonts/Tofino_Bold.otf);
}

@font-face {
    font-family: 'Tofino_Medium';
    src: url(../fonts/Tofino_Medium.otf);
}

@font-face {
    font-family: 'Tofino_Regular';
    src: url(../fonts/Tofino_Regular.otf);
}

@font-face {
    font-family: 'Tofino_Light';
    src: url(../fonts/Tofino_Light.otf);
}

@font-face {
    font-family: 'Quaver_Sans';
    src: url(../fonts/QuaverSans.otf);
}

@font-face {
    font-family: 'Quaver_Serif';
    src: url(../fonts/QuaverSerif.otf);
}

$san-serif-light: 'Quaver_Sans';
$san-serif: 'Quaver_Sans';
$san-serif-medium: 'Quaver_Serif';
$san-serif-bold: 'Quaver_Serif';

// font styles //

.title {
    color: $white;
}

.vertical-text {
    color: $white;
}

.para {
    color: $white;
}

.job-title {
    font-family: $san-serif-bold;
    text-transform: uppercase;
    font-size: 16px;
}

.vertical-text {
    font-family: $san-serif-bold;
    text-transform: uppercase;
    font-size: 44px;
}

.title {
    font-family: $san-serif-bold;
    text-transform: uppercase;
}

.para {
    font-family: $san-serif;
}

.nav-link {
    font-family: $san-serif-bold;
}