.menu_container {
    overflow: hidden;
    height: 100vh;
    z-index: 0;
}

.primary-text__container {
    display: block;
    height: 219px;
    width: 470px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    .title {
        margin-top: -30px;
        margin-left: -6px;
        font-size: 84px;
        letter-spacing: 5px;
    }

    .vertical-text {
        transform: rotate(90deg);
        transform-origin: right top 1;
        float: right;
        margin-right: -76px;
        margin-top: -18px;
        font-size: 45px;
    }

    .para {
        position: absolute;
        width: 86%;
        margin-left: -3px;
        margin-top: -12px;
        font-family: $san-serif-bold;
        font-size: 1.28em;
        line-height: 1.8;
    }

    .code {
        font-family: 'Courier';
        font-size: 1.4em;
        color: #bbb;
        line-height: .5;
    }

    .design {
        font-weight: 100;
        font-family: 'Georgia';
        font-style: italic;
        font-size: 1.3em;
        line-height: .5;
        color: #aaa;
    }
}

body {
    background-color: #000;
}

/// text container styles

.menu_container {
    overflow: hidden;
    height: 100vh;
    z-index: 0;
}

.primary-text__container {
    display: block;
    height: 219px;
    width: 470px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    .title {
        margin-top: -30px;
        margin-left: -6px;
        font-size: 84px;
        letter-spacing: 5px;
    }

    .vertical-text {
        transform: rotate(90deg);
        transform-origin: right top 1;
        float: right;
        margin-right: -76px;
        margin-top: -18px;
        font-size: 45px;
    }

    .para {
        position: absolute;
        width: 86%;
        margin-left: -3px;
        margin-top: -12px;
        font-size: 1.28em;
        line-height: 1.8;
    }

    .code {
        font-family: 'Courier';
        font-size: 1.4em;
        color: #bbb;
        line-height: .5;
    }

    .design {
        font-weight: 100;
        font-family: 'Georgia';
        font-style: italic;
        font-size: 1.3em;
        line-height: .5;
        color: #aaa;
    }
}