.menu_container {
    overflow: hidden;
    height: 100vh;
    z-index: 0;
}

.primary-text__container {
    display: block;
    height: 180px;
    width: 370px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    @media (max-width: $mq-small) {
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 68%;
    }

    .title {
        margin-top: 0px;
        margin-left: -6px;
        margin-bottom: 0;
        color: $light-grey;
        font-size: 64px;
        letter-spacing: 10px;
        font-family: $quaver-serif;

        @media (max-width: $mq-small) {
            font-size: 40px;
            margin-top: 0px;
            margin-left: 0px;
            letter-spacing: 5px;
        }
    }

    .vertical-text {
        transform: rotate(90deg);
        transform-origin: right top 1;
        float: right;
        margin-right: -40px;
        margin-top: -13px;
        font-size: 28px;
        color: $light-grey;
        font-family: $quaver-serif;
        letter-spacing: 5px;

        @media (max-width: $mq-small) {
            transform: rotate(0deg);
            transform-origin: right top 1;
            margin-right: 0;
            margin-top: 0;
            font-size: 40px;
            float: left;
            position: relative;
            width: 100%;
        }
    }

    .para {
        position: absolute;
        width: 86%;
        margin-left: -3px;
        margin-top: -22px;
        font-family: $san-serif;
        font-size: 16px;
        line-height: 1.8;
        letter-spacing: 0.6px;

        @media (max-width: $mq-small) {
            width: 100%;
            font-size: 16px;
            margin-top: 30px;
            position: relative;
        }
    }

    .code {
        font-family: 'Courier';
        font-size: 1.4em;
        color: #bbb;
        line-height: .5;
    }

    .design {
        font-weight: 100;
        font-family: 'Georgia';
        font-style: italic;
        font-size: 1.3em;
        line-height: .5;
        color: #aaa;
    }
}

body {
    background-color: #000;
}