.work-text__container {
    #owl-demo .item{
      background: #3fbf79;
      padding: 30px 0px;
      margin: 10px;
      color: #FFF;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      text-align: center;
    }
    .slide-image {
        margin-left: 7vw;
        margin-top: 15vh;
        height: 70vh;
        width: 86vw;
        background-image: url(http://placehold.it/350x350); 
        background-color: grey;
        border: 3px solid black;
        .slide-text {
            transition: opacity 1s;
            opacity: 0;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            p {
                text-align: center;
            }
        }
        .show {
            opacity: 1;
        }
    }
}