.work {
    overflow-x: visible;

    .see-more {
        &__container {
            text-align: left;
            clear: both;
            color: #ffffff;
            z-index: 99999;
            margin-left: 15%;
            margin-top: 0px;
            margin-bottom: 80px;
            float: left;
        }
    }

    &-slide-header {
        position: relative;
        height: 100vh;
        text-align: center;
        color: #fff;
    }

    &-slide-title {
        position: absolute;
        top: 47%;
        left: 50%;
        transform: translate(-50%);
        font-size: 65px;
        text-transform: uppercase;
        letter-spacing: 5px;
        margin-bottom: -20px;

        @media (max-width: $mq-med) {
            top: 45%;
        }

        @media (max-width: $mq-small) {
            font-size: 45px;
        }
    }

    &-slide-number {
        position: absolute;
        font-size: 40px;
        font-weight: lighter;
        top: 53%;
        left: 50%;
        transform: translate(-50%);

        @media (max-width: $mq-med) {
            top: 54%;
        }
    }

    &-slide-intro {
        width: 600px;
        margin: 10% auto 5%;
        color: white;
        text-align: center;

        @media (max-width: $mq-med) {
            width: 80%;
        }

        @media (max-width: $mq-small) {
            width: 92%;
        }
    }

    &-slide-more-arrow {
        position: absolute;
        bottom: 8px;
        left: 50%;
        transform: translateX(-50%);

        @media (max-width: $mq-med) {
            bottom: 60px;
        }

        .arrow {
            margin: 0 auto 13px;
            height: 50px;
            width: 50px;
            text-align: center;
            background-size: contain;
            background-repeat: no-repeat;
            background-image: url(/assets/img/down.png);

            svg line {
                animation: fillColor 3s infinite;
                -webkit-animation: fillColor 3s infinite;
            }

            @media (max-width: $mq-med) {
                margin: 0 auto 10px;
            }
        }

        .para {
            margin-bottom: 0;
            color: #aaa;
            animation: fontColor 3s infinite;
            -webkit-animation: fontColor 3s infinite;
        }
    }

    &-primary-title {
        font-size: 45px;
    }

    &-primary-para {
        text-align: center;
        font-size: 22px;
        font-family: $quaver-san-serif;

        @media (max-width: $mq-small) {
            padding: 0 60px;
        }
    }

    &-button {
        display: inline-block;
        padding: 2px 20px 0;
        border: 1px solid #aaa;
        font-size: 22px;
        font-family: $quaver-san-serif;
        text-transform: uppercase;
        transition: all .2s linear;

        &:hover {
            background-color: white;

            a {
                color: black;
            }
        }

        a {
            color: white;
        }
    }

    &-slide-secondary {
        margin: 100px auto 0;
    }

    &-slide-secondary-intro {
        width: 75%;
        margin: 0 auto;
        padding: 75px 0 25px;
        color: black;
        text-align: left;
    }

    &-secondary-title {
        font-size: 45px;
    }

    &-secondary-para {
        color: black;
        font-family: $quaver-san-serif;
        font-size: 22px;
        width: 50%;

        @media (max-width: $mq-med) {
            width: 98%;
        }
    }

    &-layout-image {
        width: 50%;
        margin: 0 auto;

        @media (max-width: $mq-med) {
            width: 70%;
        }

        @media (max-width: $mq-small) {
            width: 92%;
        }

        &--mobile {
            max-width: 900px;

            @media (max-width: $mq-large) {
                width: 53%;
            }

            @media (max-width: $mq-small) {
                width: 92%;
            }
        }
    }

    &-ui-shots {
        max-width: 800px;

        @media (max-width: $mq-small) {
            width: 92%;
        }
    }
}

.slick-prev:before, .slick-next:before {
    font-family: 'slick';
    font-size: 22px;
    line-height: 1;
    color: white;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
}

.slick-prev:before, .slick-next:before {
    font-family: 'slick';
    font-size: 22px;
    line-height: 1;
    color: white;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-next, .slick-prev {
    z-index: 9999;
    position: fixed;
    display: block;
    height: 120px;
    width: 120px;
    line-height: 0;
    font-size: 0;
    cursor: pointer;
    background: transparent;
    color: transparent;
    top: 49%;
    margin-top: -10px;
    padding: 0;
    border: none;
    outline: none;
}

.slick-next {
    background-image: url(/assets/img/next.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 40px;
    right: 60px;

    @media (max-width: $mq-small) {
        right: 5px;
    }
}

.slick-next {
    background-image: url(/assets/img/next.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 40px;
    right: 60px;

    @media (max-width: $mq-small) {
        right: 5px;
    }
}

.slick-prev {
    background-image: url(/assets/img/prev.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 40px;
    left: 60px;

    @media (max-width: $mq-small) {
        left: 5px;
    }
}