.about {
    .job-title {
        position: fixed;
    }
    .menu_container {
        background-color: #999999;
        height: 100vh;
        z-index: 99999;
    }

    .content-1 {
        height: 100vh;
        background-color: #606060;
    }

    .content-2 {
        height: 100vh;
        background-color: #939393;
    }
}