.about-container {
    position: relative;
    width: 90vw;
    height: 80vh;
    margin: 10vh auto;
    text-align: center;
   
}
.about-header {
    height: 100%;
    position: relative;
}

.about-triangles {
    z-index: 9;
    width: 100%;
    right: -140px;
    position: absolute;
    top: -66px;
    svg {
        height: 116vh;
        right: -4%;
        top: -100px;
        position: absolute;
        @media (max-width: $mq-small) {
            display: none;
        }
    }
}

.about-image {
    position: absolute;
    bottom: -12%;
    right: 1%;
    width: 50vw;
    opacity: .4;
    transition: opacity 2s;
    -webkit-transition:  all 2s linear;
    -moz-transition:  all 2s  linear;

    &:hover {
        opacity: .65;
    }
    @media (max-width: $mq-small) {
        display: none;
    }
}

.about-content {
    &__primary {
        float: left;
    }

    &__secondary {
        width: 50vw;
        margin-left: 34%;
        margin-top: 80px;
        float: right;
        @media (max-width: $mq-med) {
            width: 60%;
            margin-left: 10%;
        }

        @media (max-width: $mq-small) {
            width: 83%;
            margin: 3px 7%;
        }
    }
}

.about--title {
    position: absolute;
    top: 50%;
    left: 16%;
    transform: translateY(-50%);
    color: $white;
    text-align: left;
    font-family: $quaver-san-serif;
    font-size: 34px;
    color: #ddd;
    letter-spacing: 4px;
    line-height: 1.3;
    @media (max-width: $mq-small) {
        left: 15%;
        font-size: 30px;
        top: 54%;
    }

    .bold {
        display: inline-block;
        font-family: $quaver-serif;
        font-size: 46px;
        color: $white;
        letter-spacing: 2px;
        @media (max-width: $mq-small) {
            left: 11%;
            font-size: 38px;
        }
    }
}

.about--para {
    font-size: 22px;
    color: $white;
    text-align: left;
    font-family: $quaver-san-serif;
}

.see-more {
    &__container {
        text-align: left;
        clear: both;
        color: $white;
        z-index: 99999;
        width: 50vw;
        margin-left: 34%;
        margin-top: 0px;
        margin-bottom: 80px;
        float: right;
        @media (max-width: $mq-small) {
            margin-left: 11%;
            float: left;
            width: 82%;
        }
    }

    &__title h5 {
        color: $white;
        padding-top: 50px;
        margin-bottom: -5px;
        font-family: $quaver-serif;
        font-size: 42px;
        transition: all .2s linear;
        -webkit-transition:  all .2s linear;
        -moz-transition:  all .2s  linear;
        &:hover {
            color: #50C3C5;
        }
    }

    &__para {
        margin-bottom: 15px;
        letter-spacing: 2px;
        font-family: $quaver-san-serif;
        font-size: 20px;
    }

    &__link {
        color: #50C3C5;
    }

    &__arrow {
        width: 90px;
        margin-bottom: 8px;
    }

    &__back {
        font-family: $quaver-san-serif;
        font-size: 20px;
        color: $white;
        transition: all .2s linear;
        -webkit-transition:  all .2s linear;
        -moz-transition:  all .2s  linear;
        &:hover {
            color: #50C3C5;
        }

    }
}