.about-container {
    position: relative;
    width: 90vw;
    height: 80vh;
    margin: 10vh auto;
    text-align: center;
}

.about-content {
    // position: absolute;
    // top: 40%;
    // left: 50%;
    // transform: translate(-50%, -50%);

    &__primary {
        float: left;
    }

    &__secondary {
        width: 52%;
        float: right;
        margin-right: 14%;
        margin-top: 2%;
    }
}

.about--title {
    position: absolute;
    top: 50%;
    left: 16%;
    transform: translatey(-50%);
    color: $white;
    text-align: left;
    font-family: $quaver-san-serif;
    font-size: 24px;
    color: #ddd;
    letter-spacing: 4px;
    line-height: 1.3;

    .bold {
        display: inline-block;
        font-family: $quaver-serif;
        font-size: 36px;
        color: $white;
        letter-spacing: 2px;
    }
}

.about--para {
    color: $white;
    text-align: left;
}

.about-image {
    margin: -18px auto 0; 
    padding-left: 20%;
    height: 94vh;
    opacity: .65;
}

.see-more {
    &__container {
        text-align: left;
        clear: both;
        margin-left: 15.5%;
        margin-top: 55vh;
        margin-bottom: 55px;
        color: $white;
        z-index: 99999;
    }

    &__title h5 {
        margin-bottom: -5px;
        font-family: $quaver-serif;
        font-size: 42px;
    }

    &__para {
        margin-bottom: 15px;
        letter-spacing: 2px;
        font-family: $quaver-san-serif;
        font-size: 20px;
    }

    &__link {
        color: #50C3C5;
    }

    &__arrow {
        width: 90px;
        margin-bottom: 8px;
    }

    &__back {
        font-family: $quaver-san-serif;
        font-size: 20px;
        color: $white;
    }

}