             </div>
             <div class="bottom-right__corner fadeInLeft animated"></div>
             <div class="home-menu">
                 <ul class="home-link-list">
                     <li class="nav-link animated home-link"><a href="/index.html">home</a></li>
                     <li class="nav-link work-link animated"><a href="{{root}}work.html">work</a></li>
                     <li class="nav-link animated about-link"><a href="/about.html">about</a></li>
                     <li class="nav-link animated contact-link"><a href="/contact.html">contact</a></li>
                 </ul>
             </div>
         </div>
     </div>
 </div>
