 <div class="menu_container">
        <!-- banner -->
        <canvas id="canvas"></canvas>

            <div class="base-page__interior">
              <div><img class="lg-icon" src="/assets/img/lg-icon.png"></div>
                <div class="nav-container">
                    <a class="fadeInRight animated" id="nav-toggle" href="#"><p class="menu-link nav-link">Menu</p><span></span></a>
                </div>
                <div class="top-left__corner fadeInRight animated"></div>
                <div class="animated icons">
                    <div><a href="#"><img class="icon-link animated" src="/assets/img/icon-dribble.png"></a></div>
                    <div><a href="#"><img class="icon-link animated" src="/assets/img/icon-github.png"></a></div>
                    <div><a href="#"><img class="icon-link animated" src="/assets/img/icon-codepen.png"></a></div>
                    <div><a href="#"><img class="icon-link animated" src="/assets/img/icon-linkedin.png"></a></div>
                    <div><a href="#"><img class="icon-link animated" src="/assets/img/icon-twitter.png"></a></div>
                </div>
                <div class="content-wrapper">