 <div class="menu_container">
        <!-- banner -->
        <canvas id="canvas"></canvas>

            <div class="base-page__interior">
              <a href="/" class="lg-icon"><img src="/assets/img/lg-icon.png"></a>
                <div class="top-center__line fadeInRight animated"></div>
                <div class="nav-container">
                    <a class="fadeInRight animated" id="nav-toggle" href="#"><p class="menu-link nav-link">Menu</p><span></span></a>
                </div>
                 <div class="right__line--top fadeInRight animated"></div>
                <!-- <div class="top-right__corner fadeInRight animated"></div> -->
                <ul class="animated icons">
                    <li>
                        <a href="http://codepen.io/lindsayrusd/" target="_blank"
                    class="icon-link animated" >
                            <img src="/assets/img/icon-codepen.png">
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/lindsaygrizzard" target="_blank"
                    class="icon-link animated" >
                            <img src="/assets/img/icon-linkedin.png">
                        </a>
                    </li>
                    <li>
                        <a href="https://dribbble.com/lindsayrusd" target="_blank"
                    class="icon-link animated" >
                            <img src="/assets/img/icon-dribble.png">
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/lindsaygrizzard" target="_blank"
                    class="icon-link animated" >
                            <img src="/assets/img/icon-github.png">
                        </a>
                    </li>
                </ul>
                <div class="right__line--bottom fadeInRight animated"></div>
                <div class="left__line fadeInRight animated"></div>
                <div class="content-wrapper">